body{
    color: aliceblue;
    background-color: #0f1018;
}
#upload-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
button{
    background-color: #2d3e8990;
    color: inherit;
    border-radius: 5px;
    border: 1px solid aliceblue;
    padding: 0.5rem 1rem;
}
button:hover{
    cursor: pointer;
    filter: brightness(1.35);
}