body{
    color: aliceblue;
    background-color: #0f1018;
    margin: 0;
    padding: 1rem;
}
#upload-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#upload-container button{
    background-color: #2d3e8990;
    color: inherit;
    border-radius: 5px;
    border: 1px solid aliceblue;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
}
#upload-container button:hover{
    cursor: pointer;
    filter: brightness(1.35);
}

#img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* gap: 20px; */
}
#img-container img{
    width: 300px;
    border-radius: 10px;
}