:root{
    --background-color: aliceblue;
    --color: #0e0e0f;
}
body{
    background-color: #0e0e0f;
    color: var(--color);
    margin: 2rem;
    font-family: "Roboto Mono", monospace;
    font-size: 0.9rem;
    font-weight: 400;
}
.container{
    background-color: var(--background-color);
    border: var(--color) solid 1px;
    border-radius: 0.75rem;
    width: fit-content;
    height: 8rem;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
}
.list{
    height: 100%;
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0;
}
.item{
    display: flex;
    height: 1.25rem;
    align-items: center;
}
.percentage{
    font-size: 0.8rem;
}
.green-arrow{
    /* transform: rotate(-90deg); */
    color: green;
}
.red-arrow{
    transform: rotate(180deg);
    color: red;
}
.grey-arrow{
    transform: rotate(90deg);
    color: rgb(92, 92, 92);
}