:root {
    --color: #fcec9b;
    --bColor: #0e0e10;
    --color-2: #a030e1;
}

body {
    background-color: var(--bColor);
}

.container {
    width: 100%;
    box-sizing: border-box;
    padding-top: 3rem;
    color: var(--color);
}

.heartsCard {
    position: relative;
    width: 60%;
    aspect-ratio: 2/3;
    margin: 0 auto;
    border-radius: 0.75rem;
    border: 0.1rem solid var(--color);
    display: flex;
    flex-direction: column;
    background-color: var(--bColor);
}

.numCont1,
.numCont2 {
    display: flex;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.numCont2 {
    flex-direction: row-reverse;
}

.numWrapper {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.num1 {
    font-family: monospace;
    font-size: 1.75rem;
}


.shapes {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}

.heartBlock1,
.heartBlock3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.heartBlock2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.heart>.fa-heart {
    font-size: 3.5rem;
}

.heart1>.fa-heart {
    font-size: 1.25rem;
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.heartsCard::before {
    content: '';
    position: absolute;
    inset: -0.25rem;
    border-radius: 0.75rem;
    background: conic-gradient(from var(--angle), transparent 70%, var(--color-2));
    animation: animate-border 3s infinite linear;
    z-index: -1;
}

.heartsCard::after {
    content: '';
    position: absolute;
    inset: -0.25rem;
    border-radius: 0.75rem;
    background: conic-gradient(from var(--angle), transparent 70%, var(--color-2));
    animation: animate-border 3s infinite linear;
    z-index: -1;
    filter: blur(0.7rem);
}

.heartsCard:hover::before {
    background: conic-gradient(from var(--angle), var(--color-2), #ed3e41, var(--color-2));
    animation: animate-border 1.5s infinite linear;
}

.heartsCard:hover::after {
    background: conic-gradient(from var(--angle), var(--color-2), #ed3e41, var(--color-2));
    filter: blur(0.5rem);
    animation: animate-border 1.5s infinite linear;
}


@keyframes animate-border {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}