:root{
    --bColor:#0e0e10;
}
body{
    background-color: var(--bColor);
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(25rem + 25%);
    margin: 1rem auto;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
}
.LoadingBox{
    position: relative;
    width: 32%;
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    background-color: #141419;
    box-shadow: 0 0 1rem #0e0e10;
    margin: 0.5rem 0;
    z-index: 0;
}
