:root{
 --background-color: aliceblue;
 --color: #131214;
}
body{
    background-color: var(--background-color);
    color: var(--color);
    font-family: "Inter", sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}
section.card{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items:center;
    gap: 2rem;
    /* margin: 0 auto; */
    box-shadow: 0 0 0.5rem #1312147a;
    border-radius: 0.5rem;
    width: 45rem;
    height: 10rem;
        overflow: hidden;
}
section.card img{
    height: 100%;
    object-fit: cover;
}
.card-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

}
.card-right *{
    margin: 0;
}

.card-right h2{
    font-weight: 600;
}
.card-right h3{
    font-weight: 500;
}
