:root {
    --bColor: #121212;
    --fColor: #e7f3fe;
    --gradient-1: #f35d2b;
    --gradient-2: #4e2b71;
}

body {
    background-color: var(--bColor);
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 100%;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
}

.codeButton {
    font-family: inherit;
    text-transform: capitalize;
    font-weight: 200;
    letter-spacing: -0.15rem;
    padding: 2rem 3rem;
    margin: 0 auto;
    font-size: 2rem;
    background-color: var(--bColor);
    color: var(--fColor);
    position: relative;
    border: solid 1px rgba(255, 32, 99, 0.59);
    transition: all linear 0.3s;

}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.codeButton::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -0.25rem;
    background-image: conic-gradient(from var(--angle), transparent 90%, #ee3f5f);
    animation: move-border 3s linear infinite;
    transition: all linear 0.3s;
}

.codeButton::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: -0.25rem;
    background-image: conic-gradient(from var(--angle), transparent 70%, #ee3f5f);
    animation: move-border 3s linear infinite;
    transition: all linear 0.3s;
    filter: blur(0.5rem);
}

.codeButton:hover {
    border: none;
}

.codeButton:hover::before {
    background-image: conic-gradient(from var(--angle), var(--gradient-1), #121212, var(--gradient-2), #121212, var(--gradient-1));
    animation: move-border 2s linear infinite;
}

.codeButton:hover::after {
    background-image: conic-gradient(from var(--angle), var(--gradient-1), #121212, var(--gradient-2), #121212, var(--gradient-1));
    animation: move-border 2s linear infinite;
    filter: blur(0.5rem);
}

@keyframes move-border {
    0% {
        --angle: 0deg;
    }

    100% {
        --angle: 360deg;
    }
}