:root {
    --bColor: #0e0e10;
    --size:5rem;
}

body {
    background-color: var(--bColor);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: calc(2 * var(--size));
    aspect-ratio: 1/1;
    margin: var(--size) auto;
    border-radius: calc(0.1*var(--size));
    padding: 0.5rem 1rem;
    background-color: rgb(21, 21, 22);
}

.switchLabel {
    display: flex;
    align-items: center;
    width: var(--size);
    aspect-ratio: 5/2;
    border: solid 1px aliceblue;
    border-radius: 5rem;
    padding: 0 calc(0.05 * var(--size));
    background-color: transparent;
    cursor: pointer;
}

.toggle {
    width: calc(0.3*var(--size));
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: aliceblue;
    pointer-events: none;
    transition: all 0.25s ease;
}

#switchBox {
    display: none;
}

#switchBox:checked+.toggle {
    transform: translateX(calc(0.7 * var(--size)));
}